.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'sahel';
  src: url('assets/font/Sahel.ttf') format('ttf');
}

#img{
  margin-top: 10px;
  width: 50%;
}

.card{
  font-family: sahel;

  height: 327px;
  border: 1px solid #ebebeb;
  float: right;
  margin: 12px;
  width: 23%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#product_name{
  font-size: 13px;
  margin: 14px;
  text-align: right;
  direction: rtl;
}

#stars{
  margin: 13px;
  width: 120px;
  margin-top: 10px;
  text-align: left;
}

#vote{
  font-size: 13px;
  margin-left: 0;
  padding-left: 0;
  direction: rtl;
  float: right;
}

#price{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-top: 14px;
  direction: rtl;
  margin-left: 10px;
}

#seller{
  position: absolute;
  bottom: 0;
  margin-right: 10px;
  right: 0;

  visibility: hidden;
  transition:0.7s;
}

.card:hover #seller {
  visibility: visible;
}
